<div class="d-flex justify-content-md-center">
    <h3 class="custom-font-sawarabi">Sorry, this feature/page is not implemented yet. Our dev is working hard to delivery.</h2>
</div>
<hr>
<div class="row justify-content-md-center">
  <div class="custom-image w-50 p-3">
    <img src="img/dev.webp" alt="me" class="custom-img">
  </div>
</div>
