{{#each errors}}
  <div class="alert alert-danger">{{warnings}}</div>
{{/each}}

<div class="row">
  <div class="col justify-content-md-center custom-verticalLine">
    <div class="custom-image">
      <img src="img/user-registration.webp" alt="image" class="custom-img">
    </div>
  </div>
  <div class="col card custom-no-border">
    <div class="card-body">
      <div class="d-flex justify-content-center mt-1">
        <h2 class="custom-font-login">Change your password</h2>
      </div>
      <hr>
      <form action="/resetpwd" method="POST">
        <div class="d-grid gap-2 mx-auto">
          <div class="form-floating">
            <input type="hidden"  name="id" value="{{id}}">
            <input type="hidden"  name="secret" value="{{hash}}">
            <input type="password" class="form-control" id="floatingInputPassword" name="password" required>
            <label for="floatingInputPassword">New Password</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingInputPassword" name="password2" required>
            <label for="floatingInputPassword">Repeate Password:</label>
          </div>
          <div class="d-grid col-6 mx-auto">
            <button type="submit" class="btn btn-primary btn-lg custom-btn-register">Change</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
