{{#each errors}}
  <div class="alert alert-danger">{{warnings}}</div>
{{/each}}

<div class="row">
  <div class="col justify-content-md-center custom-verticalLine">
    <div class="custom-image">
      <img src="img/passwordReset.webp" alt="me" class="custom-img">
    </div>
  </div>
  <div class="col justify-content-center">
    <div class="card custom-no-border">
      <div class="card-body">
        <div class="d-flex justify-content-center mt-1">
          <h2 class="custom-font-login">Forgot your password?</h2>
        </div>
        <div class="d-flex justify-content-center mt-1">
          <p>We will send an e-mail to you for reset password.</p>
        </div>
        <hr>
        <div class="d-grid gap-2 mx-auto">
          <form action="/resetPassword" method="POST">
            <div class="form-floating">
              <input type="email" class="form-control mt-2" id="floatingInputGrid" name="email" value="{{email}}" required>
              <label for="floatingInputGrid">Your Email</label>
            </div>
            <div class="d-grid col-6 mx-auto">
              <button class="btn btn-primary btn-lg custom-btn-login mt-4">Request</button>
            </div>
          </form>
          <div class="d-flex justify-content-center mt-1">
            <p><a href="/login" class="custom-txt-link">Back to Sign In</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
