.custom-navbar {
  background-color: #712cf9;
  font-family: 'Silkscreen', cursive;
}

.custom-font-silkscreen{
  font-family: 'Silkscreen', cursive;
}

.custom-font-sawarabi{
  font-family: 'Sawarabi Mincho', serif;
}

.custom-image-cropper {
  max-width:20%;
  max-height:20%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.custom-image {
  max-width:100%;
  max-height:100%;
  position: relative;
  overflow: hidden;
}

.custom-img {
  display: inline;
  max-width:100%;
  max-height:100%;
}


.custom-font-login {
  font-family: 'Lobster', cursive;
  color: #007992;
}

.custom-btn-register {
  background-color: #007992;
  border-radius: 1.5rem;
}

.custom-btn-login {
  border-radius: 1.5rem;
  font-family: 'Lobster', cursive;
  background-color: #007992;
}

.custom-txt-link {
  text-decoration: none;
  font-size: 16px;
}

.custom-verticalLine {
  border-right: 2px solid #ebebebf0;
}

.custom-no-border{
  border: none;
}
