.custom-navbar {
  background-color: #712cf9;
  font-family: 'Silkscreen', cursive;
}

.custom-image-cropper {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.custom-img {
  display: inline;
  margin: 0 -12px;
  height: 100%;
  width: auto;
}
